.rateDiv {
	margin: auto;
	width: 50%;
	padding: 10px;
}
.rateTitle {
	text-align: center;
	direction: rtl;
}
.star-rating {
	direction: rtl;
	border: none;
}
.star-rating__stars {
	position: relative;
	height: 5rem;
	width: 25rem;
	background: url(on.svg);
	background-size: 5rem 5rem;
}

.star-rating__starsInActive {
	position: relative;
	height: 5rem;
	width: 25rem;
	background: url(off.svg);
	background-size: 5rem 5rem;
}

.star-rating__label {
	position: absolute;
	height: 100%;
	background-size: 5rem 5rem;
}

.star-rating__input {
	margin: 0;
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.star-rating__stars .star-rating__label:nth-of-type(1) {
	z-index: 5;
	width: 20%;
}

.star-rating__stars .star-rating__label:nth-of-type(2) {
	z-index: 4;
	width: 40%;
}

.star-rating__stars .star-rating__label:nth-of-type(3) {
	z-index: 3;
	width: 60%;
}

.star-rating__stars .star-rating__label:nth-of-type(4) {
	z-index: 2;
	width: 80%;
}

.star-rating__stars .star-rating__label:nth-of-type(5) {
	z-index: 1;
	width: 100%;
}

.star-rating__input:checked + .star-rating__label,
.star-rating__input:focus + .star-rating__label,
.star-rating__label:hover {
	background-image: url(on.svg);
}

.star-rating__label:hover ~ .star-rating__label {
	background-image: url(off.svg);
}

.star-rating__input:focus ~ .star-rating__focus {
	position: absolute;
	top: -0.25em;
	right: -0.25em;
	bottom: -0.25em;
	left: -0.25em;
	outline: 0.25rem solid lightblue;
}
.commentDiv {
	direction: rtl;
	margin: 15;
}
.commentText {
	width: 100%;
	height: 10rem;
	min-height: 10rem;
	border: 1px solid #cfcfcf;
	border-radius: 6px;
	outline: 0;
	resize: none;
	padding: .5rem;
	box-shadow: 3px 5px 4px 5px #888888;
}

.rateBtn {
	display: inline-block;
}
